<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WASHINGTON</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#">County Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Data Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favorites</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

      </ul>

      </div>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          {% if not current_user.is_authenticated %}
        <li class="nav-item  {% if request.endpoint == 'register' %}active{% endif %}">
          <a class="nav-link" href=" {{ url_for('register') }} ">Register</a>
        </li>

        <li class="nav-item  {% if request.endpoint == 'login' %}active{% endif %}">
          <a class="nav-link " href="{{ url_for('login') }} ">Login</a>
        </li>
          {% else %}
        <li class="nav-item  {% if request.endpoint == 'logout' %}active{% endif %}">
          <a class="nav-link " href="{{ url_for('logout') }} ">Logout</a>
        </li>
          {% endif %}

      </ul>


    </div>
  </div>
</nav>